[submodule "src/apps/typescriptVue"]
	path = src/apps/typescriptVue
	url = https://github.com/holidaying/typescriptVue.git
	ignore = dirty
[submodule "src/apps/cdnVue"]
	path = src/apps/cdnVue
	url = https://github.com/holidaying/cdnVue.git
